.AboutContainer {
	font-size: 2.5rem;
	font-family: monospace;
	border-top: 2px black solid;
	border-bottom: 2px black solid;
	background-color: rgb(131, 104, 68);
	box-shadow: 2px blueviolet;
	color: rgb(0, 0, 0);
	padding: 10px;
	border-spacing: 50px;
	width: 50%;
	margin-top: -10%;
}
.About {
	display: flex;
	justify-content: center;
	align-items: center;
}
.Socials {
	margin-left: 19%;
	transition: 0.2s ease-in-out;
	font-weight: 600;
	font-size: 2rem;
}
.Beta {
	margin-top: 25px;
	font-size: 1.2rem;
}
.Socials:hover {
	color: white;
}

.Moe {
	font-weight: 800;
}
